/* Add application styles & imports to this file! */
body {
  font-family: Roboto;
  padding: 0;
  margin: 0;
}

button {
  font-size: 16px;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 2px 4px;
  margin: 8px 8px 8px auto;
  transition: 300ms;
}

button:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
}

button:focus {
  outline: none;
}